.footer {
  width: 100%;
  background-color: #2f3542;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footerSubscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 24px;
    padding: 24px;
    color: #fff;

    & > p {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    &Heading {
      margin-bottom: 24px;
      font-size: 24px;
    }

    .btnOutline {
      padding: 8px 20px;
      margin: 5px;
      font-size: 18px;
      border-radius: 5px;
      border: 1px solid #ff6b81;
      background-color: transparent;
      color: #ff6b81;

      &:hover {
        background-color: #ff6b81;
        color: #fff;
      }
    }

    &Text {
      margin-bottom: 24px;
      font-size: 20px;
    }
  }
  &Input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;

    &::placeholder {
      color: #b1b1b1;
    }
  }

  &Link {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    &Wrapper {
      display: flex;
    }

    &Items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 16px;
      text-align: left;
      width: 160px;
      box-sizing: border-box;

      h2 {
        margin-bottom: 16px;
        color: #fff;
      }

      a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 0.5rem;
        &:hover {
          color: #e9e9e9;
          transition: 0.3s ease-out;
        }
      }
    }
  }

  &EmailForm {
    h2 {
      margin-bottom: 2rem;
    }
  }
}

.social {
  /* Social */
  &IconLink {
    color: #fff;
    font-size: 24px;
  }

  &Media {
    max-width: 1024px;
    width: 100%;
    &Wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1024px;
      margin: 40px auto 0 auto;
    }
  }

  &Icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  &Logo {
    color: #ff6b81;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .websiteRights {
    color: #fff;
    margin-bottom: 16px;
  }
}
