.signup {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &Container {
    width: 600px;
    // height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ced6e0;
    padding: 0px 10px;
    background-color: #fff;
    h1 {
      font-weight: 600;
      color: #2f3542;
    }
  }

  &Items {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20px;

    h2 {
      color: #2f3542;
      font-size: 15px;
    }
  }
  &Search {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &Input {
      font-size: 15px;
      padding: 15px 10px 5px;
      outline: none;
      border: none;
      border-bottom: 1px solid #ced6e0;

      &:focus {
        padding: 15px 10px;
      }
    }
  }
  .btnSubmit {
    padding: 15px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ff6b81;
    color: #ff6b81;
    background-color: #fff;

    &:hover {
      color: #fff;
      background-color: #ff6b81;
    }
  }
}
